/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Google-Clone CSS*/



body{
	min-height: 616px;
	font-family: arial;
	font-size: 13px;
}

.navpadding{
	position: relative;
	left: 0;
	min-width: 975px;
	margin-right: 20px;
}

.nav-bar{
	float: right;
	margin-top: 14px;
	text-decoration: none;
	font-family: inherit, sans-serif;
}

a{
	text-decoration: none;
	color: gray;
}

a:hover{
	color: #404040;
}

#grid{
	position: relative;
	height: 22px;
	width: 22px;
	top: 5px;
}

.sign{
	background: #4285f4;
	background: linear-gradient(#4285f4, #4285f4);
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 8px 11px;
	border-radius: 2px;
}

.logo{
	height: 95px;
	width: 269px;
	position: absolute;
	bottom: 55%;
	min-width: 1375px;
	text-align: -webkit-center;
}

.search{
	position: absolute;
	bottom: 48%;
	left: 32%;
	height: 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input{
	border: 1px solid lightgray;
	width: 523px;
	height: 25px;
	overflow: auto;
}

#phone{
	top: 1px;
	overflow: auto;
	position: absolute;
	right: 2px;
	border: none;
}

.button{
	position: absolute;
	bottom: 42%;
	min-width: 1375px;
	text-align: center;
	height: 20px
}

.square{
	background: #F0F0F0;
    background: linear-gradient (#F0F0F0, #F0F0F0);
    color: black;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 2px;
	font-family: arial;
	font-size: 12px;
	border: 1px solid lightgray;
	margin: 5px;
}
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 30px;
	min-width: 900px;
	background-color: #F2F2F2;
	border-top: lightgray;
   -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-top: 10px;
	padding-left: 10px;
}

#left{
	float: left;
	top: 5px;
	padding-top: 5px;
	margin: 5px;
}

#right{
	float: right;
}